/*
Reset
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

____________________________________________________________________________________________________________________

html,
body {
	color: #000;
	height: 100%;
}

html {  
  background-image: url("https://s3.amazonaws.com/ooomf-com-files/vHCIoA1RoaoQNsDXrtxQ_DSC_0983.JPG");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #21575B;
  background-repeat: no-repeat;
}

header{
  text-align: center; 
  border-bottom: 1px solid black;
  height: 20%;
}


#hi{
  font-size: 150%;
  color: #000000;
 }

#name{
  font-family: 'Clicker Script', cursive;
  letter-spacing: 10px;
  color: #EF0C0C;
  padding: .5em;
  font-size: 300%;
}

.content{
  text-align:center;
  height: 100%;
  overflow: hidden;
}

.inner{
  padding: 2.5%;
}

.column{
  height: 500px;
  width:  27%;
  border: .1em solid grey;
  display: inline-block;
  color: #21575B;
  background-color: transparent;
  overflow-y:scroll;
  overflow-x:hidden;
  font-family: 'Josefin Sans';
}

@media (max-width: 767px) {
    .column {
        width: 85%;
    }
}

#intro{
  text-align: center;
  line-height: 28px;
}

#java_topic{
  margin-bottom: 200px;
  line-height: 28px;
  height: 300px;
}

#java_topic p{
  padding-top: 50px;
  padding-bottom: 0;
}

#links{
  text-align: center;
  line-height: 28px;
}


#quote{
  position:absolute;
  margin-bottom:0;
  width:100%;
  height: 25px;
  text-align: center;
  font-family: 'Clicker Script', cursive;
  letter-spacing: 5px;
  text-decoration: none;
}



#list_img{
  list-style-type: square;
  list-style-position: inside;
}

@font-face{
  font-family: 'Clicker Script', cursive
  src url (http://fonts.googleapis.com/css?family=Clicker+Script);
 }

#java_h1{
	text-align: center;
	text-decoration: underline;
	color: #000000;
	font-size: 150%;
	font-weight: bold;
}

h2{
  font-size: 150%;
  color:#000000;
  text-decoration: underline; 
  padding: 0;
}

h4{
  color: #000000; 
  padding: 0;
  letter-spacing: 5px;
  font-family: 'Forum', cursive;
} 

a:link {text-decoration:underline; color: #21575B;}
a:visited {text-decoration:underline; color: #21575B;}
a:hover {text-decoration:underline; color: #EF0C0C;}
a:active {text-decoration:underline; color: #EF0C0C;}