body{
      background-image:url("https://s3.amazonaws.com/ooomf-com-files/ikZyw45kT4m16vHkHe7u_9647713235_29ce0305d2_o.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-top: 0;
    }
    
    h1{
      text-decoration: underline;
      font-size: 150%;
      letter-spacing: 10px;
      position: center;
    }
    
    h2{
      text-decoration: underline;
      font-size:130%;
      position: center;
    }
    
    #main{
      width: 70%;
      height: 90%%;
      border: .5em solid black;
      text-align: center;
      background-color:black;
      opacity: 0.7;
      color: white;
      position: center;
      overflow-y: scroll;
      overflow-x: hidden;  
    }
    