*{
	background-color: #002E4C;
}

#header{
	color:#CCEBFF;
	font-family: "Big Caslon";
}

#email{
	color:#ff0000;
	font-family: "Big Caslon";
}

#more-about-me{
	color:#CCEBFF;
	font-family: "Big Caslon";
}